.linha {
    margin-bottom: 8px;
}

.titulo-secao {
    background-color: #dedede;
    border-style: double;
    border-width: 3px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin: 0px;
    vertical-align: center;
}

.sub-titulo-secao {
    background-color: #dedede;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin: 0px;
    margin-left: 0px;
}

.separador-secao {
    font-size: 2px;    
    border-style: double;
    border-width: 3px;
    border-bottom-style: none;
    border-top-style: none;    
    margin: 0px;
}

.corpo-secao {
    border-style: double;  
    border-width: 3px;
    border-bottom-style: none;
    border-top-style: none;
    margin: 0px;
}

.fim-secao {
    border-style: double;
    border-width: 3px;
    margin: 0px;
    font-size: 0px;    
    font-size: 5px;
    margin-bottom: 5px;
    border-top-style: none;

}

.panel-left {
    padding-left: 0px;
    padding-right: 0px;
}

.panel-right {
    padding-right: 0px;
}